*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    overflow-x: hidden;
}
html{
    font-size: 10px;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb{
    background-color: #16493f;
    border-radius: 20px;
}
.body{
    z-index: -10;
}
.parent{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(back3.jpg) center no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    
}

.leaf{
    position: absolute;
    right: 0;
    top: 0;
    width: 135rem;
}

.navbar{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    z-index: 99999;
   
}
.navbar h2{
    font-size: 40px;
    z-index: 999999;
}
.option{
    border-radius: 20px;
    width:500px;
    height: 60%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
    padding: 0px 10px 0 10px;
    background-color: rgba(54, 54, 54, 0.4);
    backdrop-filter: blur(10px);
}
.leaf2{
    position: absolute;
    width: 61px;
}

.parent h1{
    font-size: 13rem;
    color: rgb(0, 0, 0);
}

#leaf2{
    top:10%;
    transform: rotateZ(20deg);
    animation: l1 20s infinite;
}
@keyframes l1 {
    50%{
        transform: rotateZ(10deg);
    }
    100%{
        transition: 20s ease-in-out;
    }
}
#leaf3{
    left: -15px;
    transform: rotateZ(80deg);
    animation: l1 200s reverse infinite;
}

#leaf4{
    z-index: -1;
    top: 42%;
    transform: rotateZ(180deg);
    animation: l1 125s infinite;
}
#leaf5{
    top: 80%;
    left: 80%;
    filter: blur(2px);
    z-index:1;
    transform: rotateZ(120deg);
}
#leaf6{
    left: 30%;
    top: 53%;
}
#side{
    position: absolute;
    width: 300px;
    top:-25rem;
    left: -20px;
    transform: rotateZ(90deg);
    filter:blur(3px) ;
}
.tree{
    width: 20rem;
    left: 30%;
    bottom: -10%;
    position: absolute;
    z-index: 999999;
}
#btree2{
    left: 60%;
    
}
#btree3{
    left: 10%;
   
}
#btree4{
    left: 80%;
}
.fly{
    position: absolute;
    width: 30px;
    
    z-index: -1;
}
#fly2{
 top: 15%;
 left: 0;
 animation: fly 130s infinite;
}
#fly3{
    top: 20%;
    left: -10%; 
    animation: fly 200s infinite;  
}
#fly4{
    top: 25%;
    left:-7%;
    animation: fly 220s infinite;
}
#fly1{
    width: 130px;
    transform: rotateY(180deg);
    z-index: 99999999;
    left: 100%;
    animation: fly2 100s infinite;
}
@keyframes fly2 {
    100%{
        left: -100%;
    }
}
@keyframes fly{
    100%{
        left: 200%;
        
    }
}
.btn{
    width: 80px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 18px;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background-color: rgb(22 171 169);
    color: white;
    cursor: pointer;
}

@media (max-width:600px) {
    html{
        font-size: 5px;
    }
    .tree {
        width: 30rem;
        left: 39%;
        bottom: -4%;
    }
    #side{
        width: 183px;
    top: 6rem;
    }
        
}
@media (max-width:371px){
    #jtext{
        font-size:12rem;
    }
}
@media (max-width:347px){
    #jtext{
        font-size:7rem;
    }
}
/* parent2 */
.parent2{
    width: 100vw;
    height: 100vh;
    background: rgb(1, 15, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.earth{
    position: absolute;
    bottom:-30px;
    left:180%;
    transform: rotateZ(-30deg);
    filter: drop-shadow(-10px 0px 418px rgb(17, 130, 168));
    animation: bright 200s infinite;
    z-index: 0;
}
/* .changer{
    position: absolute;
    bottom: -95px;
    width: 100vw;
    transform: rotateZ(180deg);
} */
@keyframes bright{
    0%{
        transform:rotateZ(360deg);
    }
    100%{
        transform:rotateZ(-360deg);
        
    }
}
.contentp2{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map{
    width: 58rem;
    animation: float 10s infinite;
   
}

.svgmap{
   width: 100%;
   box-shadow: -3px -3px 7px white,3px 3px 7px black ;
}
.svgmap path:hover{
   filter:brightness(2);
   cursor: pointer;

}


@keyframes float {
    50%{
        transform: translateY(20px);
    }
}



/* parent3 */
.parent3{
    width: 100vw;
    height: 100vh;
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}
.mapcontent{
    width: 40%;
    height: 45rem;
    background: #e0e0e0;
    border-radius: 42px;
    box-shadow: inset 17px 17px 34px #cacaca,
    inset -17px -17px 24px #f6f6f6;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.cityName
{
   width: 80%;
   height: 80px;
   background: #e0e0e0;
    border-radius: 29px;
    box-shadow: -7px -7px 34px #d8d8d89f,
     7px 7px 14px #0000003e;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2.5rem;
}

.stname{
    color: #c7c7c7 ;
    text-shadow: -7px -7px 15px #e9e3e3,
    7px 4px 5px #00000013;
}